*{
    padding: 0px;
    margin: 0px;
}
*, ::after, ::before {
    box-sizing: border-box;
}
.col{
    flex: 0 0 50%;
    max-width: 50%;
}
.form{
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
}
.text {
    margin-left: 20px;
    font-size:1.5rem;
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
    color: #2c3e50;
}

.form-group {
    margin-bottom: 1rem;
}
.col-md-6 {
    flex: 0 0 50%;
    max-width: 50%;
}
.d-inline-block {
    display: inline-block!important;
}
label {
    display: inline-block;
    margin-bottom: .5rem;
    color: #2c3e50;
}
input{
    width: 138px;
    height: 32px;
    border-radius: 5px;
    border: 1px solid #ced4da;
    cursor: text;
    padding:5px;
}
.flex{
    display: flex;
    justify-content: space-around;
}
.check-flex{
    display:flex;
}
input[type=checkbox]{
    margin:0px;
    width:21px;
    height:10px;
    margin-top:10px;
    cursor: pointer;
}
.outer-flex{
    text-align: center;
    width: 60px;
    margin: 14px;
    height: 34px;
    border-radius: 5px;
    border: 1px solid #ced4da;
}
.operations{
    margin-top: 20px;
}
button{
    margin-left: 200px;
    font-weight: bold;
    width:80px;
    height:30px;
    text-align: center;
    border-radius: 5px;
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
    vertical-align: middle;
    border: 1px solid transparent;
    line-height: 1.5;

}
.main-flex{
    display: flex;
    width: 50%;
}
.form-div{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}